.Sidebar__main {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  z-index: 55;
  padding: 1rem;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Sidebar__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

.Sidebar__navigation {
}
