.Home__page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.Home__columns {
  width: 100%;
  padding: 4rem 2rem;
  flex: 1 0 auto;
}

.Home__title {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

@media (min-width: 860px) {
  .Home__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    padding-right: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  .Home__main {
    width: 30%;
    max-width: 460px;
  }

  .Home__hand {
    display: block;
    background: var(--dark-voilet);
    margin: 4rem 2rem;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    text-align: center;
  }

  .Home__hand--img {
    margin-top: -50px;
  }
}
