.Profile__main {
  display: flex;
}

.Profile__image {
  width: 4rem;
  height: 4rem;
  background: var(--voilet);
}

.Profile__description {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Profile__name {
  font-size: 1rem;
  font-weight: 500;
}

.Profile__edit--button {
  height: 2rem;
  width: 7rem;
}

@media (min-width: 860px) {
  .Profile__image {
    width: 6rem;
    height: 6rem;
  }
}
